* {



    margin: 0;



    padding: 0;



    outline: none;



    font-family: "Poppins", sans-serif;



}







.table>:not(:last-child)>:last-child>* {



    border-bottom-color: #fff !important;



}







table td {



    border-top: none !important;



    border-bottom: 1px solid #fff;



}







select.form-control:focus {



    outline: 0;



    padding: 7px 15px;



}







.table-sales-order thead tr th,



.table-sales-order tbody tr td,



.table-sales-order tfoot tr td {






    vertical-align: middle;



    text-align: center;



    padding: 5px;



}







.table-sales-order td {



    color: #898989;



}







.table-sales-order tfoot th {



    border: 1px solid rgb(180, 180, 180);



    text-align: right;



}







.table-sales-order {



    border-top: 1px solid rgb(180, 180, 180);



    margin-top: 1em;



    width: 100%;



}











.full-width {



    max-width: 65px;



    width: 100%;



    display: inline-block !important;



}







.full-width-center {

    width: 100%;

}







.no-border {



    border: none !important;



}



















#left_modal .modal-dialog {



    width: 100%;



    position: absolute;



    right: 0;



    top: 0;



    margin: 0;



    height: 100%;



}







#left_modal .modal-content {



    height: 100%;



}







.has-float-label .form-control:placeholder-shown:not(:focus)+* {



    font-size: 12px;



    opacity: 0;



    top: 13px;



    left: 17px;



    font-weight: normal;



}







.has-float-label input,



.has-float-label select,



.has-float-label textarea {



    font-size: inherit;



    margin-bottom: 2px;



    border-radius: 5px;



    border: 2px solid rgba(0, 0, 0, .1);



    height: 44px;



    font-size: 12px;



}







.has-float-label input:focus,



.has-float-label select:focus,



.has-float-label textarea:focus {



    outline: 0;



    border-color: rgba(0, 0, 0, .5);



    border: 1px solid;



    padding: 7px 20px;



    font-size: 13px;



}







.has-float-label label,



.has-float-label>span {



    position: absolute;



    left: 0;



    top: -7px;



    cursor: text;



    font-size: 70%;



    opacity: 1;



    -webkit-transition: all .2s;



    transition: all .2s;



}






#left_modal .modal-body .has-float-label .form-control:placeholder-shown:not(:focus)+* {



    font-size: 15px;



    opacity: .5;



    top: 0.7em;



}







table.modal-add-row {



    width: 100%;



    margin-top: 1em;



}







table.modal-add-row tr td {



    border: none;



    padding: 0;



    padding: 10px 5px 10px 0;



}







button.btn-view {



    background: none;



    border: none;



}







span.has-float-label {



    margin: 10px 0;



}







span.select2.select2-container.select2-container--default {



    left: 0;



    top: 0;



    position: relative;



}







span.has-float-label .select2-selection--single {



    border: 1px solid rgb(180, 180, 180) !important;



    border-radius: 5px;



}







span.select2-container.select2-container--default.select2-container--open {



    z-index: 999;



}







div#customerInfo li.list-group-item {



    padding: 7px !important;



    font-size: 13px;



}







div#customerInfo li.list-group-item strong {



    font-size: 13px;



}







.sales-order-row {



    align-items: baseline;



}







.others-info-right .row {



    margin: 10px 0;



}







.others-info-right .row:nth-child(2) {



    margin-top: 15px;



}







.left-item-modal .modal-dialog {



    width: 100%;



    position: absolute;



    right: 0;



    top: 0;



    margin: 0;



    height: 100%;



}







.left-item-modal .modal-dialog .modal-content {



    height: 100%;



}







span.has-float-label .row {



    align-items: center;



}







label.quick-add-label {



    font-size: 15px;



}















/********new css for new design*********/







.card.so-creation-card {



    border-radius: 5px;



    height: 200px;



}













.card .card-header h4 {



    font-size: 13px;



    margin-bottom: 0;



    color: #fff;



}







.card.so-creation-card .card-header {



    padding: 10px 15px;



}







.card.so-creation-card .card-body {



    padding: 20px 20px;



}







.card .card-body label {



    font-size: 11px;



    font-weight: 500;



    margin-bottom: 3px;



    z-index: 999;



}







.card .card-header i {



    color: #fff;



}







.card.customer-details-view {



    box-shadow: none;



}







.head {



    display: flex;



    gap: 13px;



    font-size: 18px;



}







table.customer-view tr {



    vertical-align: top;



}







table.customer-view tr th,



table.customer-view tr td {



    padding-bottom: 10px;



    font-size: 10px;



    border: none;



}







span .select2-container--default .select2-selection--single {



    border: 1px solid #ccc !important;



    border-radius: 5px;



    height: 44px !important;



}







span .select2-container--default .select2-selection--single .select2-selection__arrow {



    top: 0;



    height: 100%;



    right: 6px;



}







span .select2-selection--single .select2-selection__rendered {



    color: #444;



    line-height: 33px !important;



    font-size: 12px;



}







.select2-container--default .select2-selection--single {



    background-color: none !important;



}







table.customer-view tr th {



    padding-right: 5px;



    vertical-align: middle;



}







.customer-info-text {



    margin-top: 15px;



}







table.customer-view tr th i {



    font-size: 12px;



    color: #003060;



}







.items-filter-modal .modal-dialog {



    max-width: 100%;



}







.items-filter-modal .modal-content {



    height: 80%;



}







.serch-input select.filter-select,



.serch-input input {



    width: 188px;



    margin-bottom: 10px;



}





.accordion-item.filter-serch-accodion {



    border: none;



    margin: 15px auto;



}







.accordion-item.filter-serch-accodion .accordion-body {



    padding: 10px 0;



}







.accordion-item.filter-serch-accodion button.accordion-button:focus {



    outline: 0;



}







.accordion-item.filter-serch-accodion .accordion-header {



    width: 200px;



}







.accordion-item.filter-serch-accodion .accordion-button:not(.collapsed),



.accordion-item.filter-serch-accodion .accordion-button {



    color: #fff;



    font-size: 13px;



    background: none;



    box-shadow: none;



    border-radius: 2px;



    padding: 7px 5px;



}







/* .accordion-button::after{



    display: none;



} */







table.filter-add-item {



    width: 100%;



}







table.filter-add-item tr th,



table.filter-add-item tr td {



    padding: 5px 7px;



    white-space: nowrap;



    text-align: center;



    font-size: 13px;



    font-weight: 200;



}







table.filter-add-item tr th {



    padding: 10px;



    background: #003060;



    color: #fff;



    font-size: 13px;



    font-weight: 300;



}







.card.filter-add-item-card .card-header {



    background: #efefef;



}







.card.filter-add-item-card .card-header button {



    float: right;



    border-radius: 5px;



    font-size: 13px;



    padding: 7px 9px;



}







.card.filter-add-item-card .card-body {



    padding: 0;



}







table.filter-add-item tr {



    border-bottom: 1px solid rgb(204, 204, 204);



}







/* table.filter-add-item tr th:nth-child(1), table.filter-add-item tr td:nth-child(1){



    background-color: rgb(0 48 96);



    color: #fff;



}



table.filter-add-item tr th:nth-child(3), table.filter-add-item tr td:nth-child(3){



    background-color: rgb(0 48 96);



    color: #fff;



}



table.filter-add-item tr th:nth-child(5), table.filter-add-item tr td:nth-child(5){



    background-color: rgb(0 48 96);



    color: #fff;



}



table.filter-add-item tr th:nth-child(7), table.filter-add-item tr td:nth-child(7){



    background-color: rgb(0 48 96);



    color: #fff;



} */



.card-body.quickadd.form-inline span.has-float-label {



    width: 300px;



}







.items-filter-modal .modal-header {



    background: #003060;



    color: #fff;



    text-align: center;



}







.accordion-item.filter-serch-accodion .accordion-button::after {



    background-image: url(../assets/img/down-arrow.png);



    position: relative;



    top: 5px;



    margin-left: 11px;



    background-size: 13px;



}







.accordion-item.filter-serch-accodion .accordion-button:not(.collapsed)::after {



    background-image: url(../assets/img/down-arrow.png);



    position: relative;



    top: -6px;



    margin-left: 6px;



    background-size: 13px;



}


.filter-list {

    display: flex;

    gap: 7px;

    justify-content: flex-start;

    position: relative;

    top: 53px;

    left: 73px;

}

.filter-list a {

    background: #fff;

    color: #003060;

    z-index: 9;

}

@media (max-width: 575px) {

    .filter-list a {

        font-size: 0 !important;

    }

    .filter-list a i {

        font-size: 15px !important;

        margin-right: 0 !important;

    }

}